$bg-color-primary: #0075be;
$bg-color-secondary: #ffcc00;
$bg-color-tertiary: #cc0000;

$card-border-color: #c0c0c0;
$card-border-radius: 10px;
$card-border-style: solid;
$card-border-width: 5px;
$card-height: 335px;
$card-width: 239px;

$font-family-primary: 'Poppins', sans-serif;
$font-size-cardnumber: 12px;
$font-size-hp: 14px;
$font-size-name: 18px;

$full-width: 100%;
$margin: 10px;
$m-small: 16px;
$m-medium: 24px;
$m-big: 48px;
$p-small: 16px;
$p-medium: 24px;
$p-big: 48px;
$text-color-primary: #fff;

$bp-tablet: 768px;

$typecolors: (
	normal: #A8A77A,
	fire: #EE8130,
	water: #6390F0,
	electric: #F7D02C,
	grass: #7AC74C,
	ice: #96D9D6,
	fighting: #C22E28,
	poison: #A33EA1,
	ground: #E2BF65,
	flying: #A98FF3,
	psychic: #F95587,
	bug: #A6B91A,
	rock: #B6A136,
	ghost: #735797,
	dragon: #6F35FC,
	dark: #705746,
	steel: #B7B7CE,
	fairy: #D685AD,
);